

body {
  margin: 0;
  /* display: flex;
  justify-content: center; */
  background-color: black;

}

@font-face {
  font-family: 'alagard';
  src: url(assets/font/alagard.ttf);
  font-style: normal;
  font-weight: 100;
  text-shadow: 3px 3px 3px black
}

.home {
  background-image: url('castle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}


.descriptionBorder{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 800px;
  margin: 5vh 2em 2em;
  background-color: rgba(76, 17, 30, 0.938);
  padding: 14px;


}

.descriptionDiv{
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 100%;
  padding: 7px;
  background-color: rgba(76, 17, 30, 0.938);
  border-color: #FEAD01;
  border-style: solid;
  border-width: 2px;
  
  

}


.descriptionBodyText {
  color: #FEAD01;
  text-align: center;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: alagard;
  text-shadow: 3px 3px 3px black

}

.form {
  width: 100%;
}

.formBodyBorder{
  padding: 15px;
  background-color: rgba(76, 17, 30, 0.582);
  height: 255px;
}

.formBody{
width: 500px;
height: 225px;
background-color: rgb(76, 17, 30);
border-color: #FEAD01;
border-width: 2px;
border-style: solid;
padding: 10px;
}

.logoText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleText{
  color: #FEAD01;
  font-family: alagard;
  font-weight: 100;
  font-size: 60px;
  margin-bottom: -50px;
  margin-left: 20px;
  margin-top: 20px;
  text-shadow: 3px 3px 3px black

}

.titleText2{
  color: #FEAD01;
  font-family: alagard;
  font-weight: 100;
  font-size: 90px;
  margin-left: 10px;
  text-shadow: 3px 3px 3px black

}

.formTitleText{
  color: #FEAD01;
  font-family: alagard;
  font-weight: 100;
  font-size: 30px;
  text-shadow: 3px 3px 3px black

}

.logoTextOne{
  margin-bottom: -40px;
}

.logoDiv img{
  height: 170px;
  margin-left: 10px;
}

.logoDiv{
  display: flex;
  flex-direction: row;
}

.horizontalTwo{
  background-color: #FEAD01;
  height: 4px;
  width: 240px;
  margin-left: 50px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.horizontalOne{
  background-color: #FEAD01;
  height: 4px;
  width: 240px;
  margin-left: 50px;
  margin-top: 20px;
}

.formFlex{
  display: flex;
  flex-direction: row;
  width: 400px;
}

.formContainerDiv{
  margin: 5vh;
  
}

.formlabel{
  font-family: alagard;
  font-weight: 100;
  font-size: 25px;
  color: #FEAD01;
  margin-right: 20px;
  text-shadow: 3px 3px 3px black

}

.gameBody{
  display: flex;
  justify-content: center;
}

.gamePanel{
  max-height: 800px;
  width: 390px; 
  margin: 20px;
  background-color: rgba(76, 17, 30, 0.938);
  border: #FEAD01;
  border-style: solid;
  border-width: 2px
}

.gamePanel2{
  max-height: 800px;
  width: 390px;
  margin: 20px;
  background-color: rgba(39, 9, 15, 0.938);
  border: #FEAD01;
  border-style: solid;
  border-width: 2px;
  padding-top: 20px
}

.gamePanelBorder{
  max-height: 940px;
  max-width: 400px;
  min-height: 940px;
  min-width: 400px;
}

.championName{
  font-family: alagard;
  color: #FEAD01;
  font-size: 50px;
  margin-left: 25px;
  padding-top: 30px;
  text-shadow: 3px 3px 3px black
}

.championUnit{
  font-family: alagard;
  color: #FEAD01;
  /* font-size: 40px; */
  margin-left: 25px;
  text-shadow: 3px 3px 3px black
}

.championAction{
  font-family: alagard;
  color: #FEAD01;
  /* font-size: 30px; */
  margin-left: 25px;
  margin-right: 25px;
  text-shadow: 3px 3px 3px black
}

.panelHorizontal{
  width: 300px;
  height: 3px;
  margin-left: 40px;
  background-color: #FEAD01;
}

.gameDiv{
  /* margin-top: 20px; */
  /* height: 788px;
  width: 980px; */
  border: 10px solid rgb(5, 5, 153);
  -webkit-box-shadow: 0px 0px 21px 14px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 0px 21px 14px rgba(0,0,0,0.62);
  box-shadow: 0px 0px 21px 14px rgba(0,0,0,0.62);
}

.red-border {
  border: 10px solid rgb(138, 3, 3);
}

.endTurn{
  font-family: alagard;
  color: #FEAD01;
  font-size: 60px;
  margin-left: 55px;
  position: sticky;
  text-shadow: 3px 3px 3px black
}

#endRes{
  font-family: alagard;
  color: #FEAD01;
  font-size: 80px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-shadow: 5px,5px,5px,5px,black;
  text-align: center;
  text-shadow: 3px 3px 3px black
}

.instructionsList{
  font-family: alagard;
  color: #FEAD01;
  font-size: 30px;
  line-height: 45px;
  margin-left: 20px;
  text-shadow: 3px 3px 3px black
}
.button{
font-family: alagard;

}


.endGameButton{
  padding: 1em;
  display: flex;
  background-color: rgba(76, 17, 30, 0.938);
  justify-content: center;
  border-style: double;
  border-width: 2px;
  border-color: #FEAD01;
  text-shadow: 3px 3px 3px black
}

.endGameText{
   font-family: alagard;
  color: #FEAD01;
  font-size: 40px;
  text-shadow: 3px 3px 3px black
}

.endGameDiv{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin:0 auto;
  z-index: 2;
  bottom: 0;

}

.instructionsBox{
  height: 300px;
  width: 300px;
  background-color: rgba(76, 17, 30, 0.938);
  border-color: #FEAD01;
  border-style: solid;
  border-width: 3px;
  margin: 0 auto;
  margin-top: 20px;
}

.brMainContainer{
  background-image: url('endTitle.png');
  margin: 0 auto;
  height: 90%;
  width: 90%
}

.brPanel{
  height: 98%;
  width: 98%;
  background-color: rgba(76, 17, 30, 0.938);
  margin: 0 auto;
}

.brPanelStroke {
  width: 98%;
  height:98%;
  margin: 0 auto;
  border-left: solid 2px #FEAD01;
  border-right: solid 2px #FEAD01;
  border-bottom: solid 2px #FEAD01;
  }

.brTitle{
  height: 15%;
  padding-top:1%;
  margin-bottom: 1%;
  font-family: alagard;
  font-size: 450%;
  color: #FEAD01;
  line-height: 100%;
  text-align: center;
  text-shadow: 3px 3px 3px black
  }

.brContentContainer{
  display: flex;
  height: 750px;
}

.brPlayerBlock{
  width: 50%;
  height: 100%;
}

.borderBox{
  width: 50%;
  border-left: solid 2px #FEAD01;
}

.brBlockPlayerName{
  font-family: alagard;
  font-size: 300%;
  color: #FEAD01;
  height:8%;
  padding-left: 5%;
  padding-top: 4%;
  text-align: left;
  text-shadow: 3px 3px 3px black
 }

.brUnitContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 90%;
  padding-top: 5%;
  padding-left: 5%;
  }

.brButtonBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .5%;
  }

.brButton{
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgba(76, 17, 30, 0.70);
  font-family: alagard;
  font-size: 45px;
  color: #FEAD01;
  margin-right: 30px;
  text-shadow: 3px 3px 3px black
}

.udUnitContainer{
  display: flex;
  width: 100%;
  height: 100%;
}


.udPortrait{
  width: 100px;
  border-radius: 50%;
  border: solid 3px #FEAD01;
}


.udTextHolder{
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 6%;

}

.udText{
  line-height: 110%;
  font-family: alagard;
  text-align: left;
  font-size: 150%;
  color: #FEAD01;
  text-shadow: 2px 2px 2px black
}

.infoBox{
  font-family: alagard;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 20px;
  color: #FEAD01;
  text-align: center;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.gameWhole{
  display: flex;
  flex-direction: column;
  margin: 0 auto
}


.skullyBox{
  height: 20px;
  width: 20px;
  }

.skully{
  position: absolute;
  width: 2.5%;
  transform: translateY(5%);
 }


.endgame-container {
  height: 788px;
  width: 980px;
  position: absolute;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-color: #FEAD01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.hidden {
  display: none;
}

.invis {
  visibility: hidden;
}

 #app {
   height: 100vh;
   /* width: 100vw; */
 }